In [ ]:
# Additional practice from the problem set located at:
# https://www.w3resource.com/python-exercises/pandas/index.php

In [1]:
# First, have to import the libraries that I'll be using:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

ds = pd.Series([2, 4, 6, 8, 10])
ds

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [3]:
# Write a Python program to convert a Panda module Series to Python list and it's type.

dlist = ds.tolist()
print(dlist)
type(dlist)

[2, 4, 6, 8, 10]

list

In [4]:
# Write a Python program to add, subtract, multiply and divide two Pandas Series.

# Initializing series:
a_ds = pd.Series([2, 4, 6, 8, 10])
b_ds = pd.Series([1, 3, 5, 7, 9])

In [5]:
# Doing the math using operators:

ds_plus = a_ds + b_ds
ds_minus = a_ds - b_ds
ds_multiply = a_ds * b_ds
ds_divide = a_ds / b_ds

In [6]:
# Returning results of variables:
ds_plus
ds_minus
ds_multiply
ds_divide

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
# Using built in pandas functions:

a_ds.add(b_ds)
a_ds.sub(b_ds)
a_ds.mul(b_ds)
a_ds.div(b_ds)

# Note, I didn't create variables so the results aren't in memory anywhere, and thus can't be used by any other code I write.

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [8]:
# Write a Python program to get the largest integer smaller or equal to the division of the inputs.

list1 = pd.Series([2, 4, 6, 8, 10])
list2 = pd.Series([1, 3, 5, 7, 9])

In [9]:
print(list1 == list2)
print(list1 > list2)
print(list1 < list2)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [10]:
# Write a Python program to convert a dictionary to a Pandas series.
# Sample Series:
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [11]:
original_dict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [12]:
type(original_dict)

dict

In [13]:
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.DataFrame.from_dict(original_dict, orient='index')

     0
a  100
b  200
c  300
d  400
e  800

In [14]:
# Write a Python program to convert a NumPy array to a Pandas series.

In [15]:
my_array = np.array([10, 20, 30, 40, 50])

In [16]:
my_array

array([10, 20, 30, 40, 50])

In [18]:
type(my_array)

numpy.ndarray